:root{
    --primary: #fff;
    --second: #E3F2FD;
    --third: #90CAF9;
    --fourth: #2196F3;
    --fifth: #0D47A1;
    --sixth: #029009;

}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(135deg,#90CAF9,#2196F3,#0D47A1);
    min-height:100vh;
}
.form{
    width: 400px;
    margin: 50px auto;
    background-color: var(--second);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button-container button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--fourth);
    color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--sixth);
    color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: -50px;
}

.welcome{
    text-align: center;
    margin-bottom: 20px;
    
}
.logo{
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
}
.logo img{
    display: flex;
    justify-content: center;
    width: 200px;
    height:200px;
    justify-content: center;
    margin-left: -40px;
    margin-top: -50px;
}
